.box {
    height: 450px;
    width: 400px;
    border: 5px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 10%;
    background-color: bisque;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url("hanoi.jpeg");
    background-size: cover;
}
#header{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: auto;
    border-radius: 10%;
    border: 5px solid black;
}
#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.disks{
    border-radius: 15%;

}
h1, h3 {
    color: green;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

#disk4{
    width: 350px;
    height: 60px;
    background-color: blue;
}

#disk3{
    width: 300px;
    height: 60px;
    background-color: red;
}

#disk2{
    width: 250px;
    height: 60px;
    background-color: green;
}

#disk1{
    width: 200px;
    height: 60px;
    background-color: yellow;
}
/* #disk1:hover{
    margin-bottom: 20px;
} */
